
/*____________________________________________header top________________________________*/

.header-top-menu-test{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 18px;
    align-items: center;
    background: #b653e0;
/*    ---------------*/


}

.menu-test {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;

    height: 18px;
    overflow: hidden;
    list-style-type: none;
    background: #697f96;
    max-width: 100%;


}





/*}*/
/*.menu-test li a{*/
/*    display: block;*/
/*    color: #333333;*/
/*    text-decoration: none;*/
/*    padding-left: 8px;*/
/*    width: 100%;*/


/*}*/

.drop-menu-test {
    max-width: 100%;
    /*display: block;*/
    /*flex-grow: 2;*/
    /*flex-basis:100px*/


    /*flex-basis: auto;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*flex-basis: 150px;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*background: #CC3434;*/

}
/*.drop-menu-test span{*/
/*    display: block;*/
/*    background: url("../../image/points.svg");*/
/*    background-size: cover;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*}*/
/*