@font-face{
    font-family: 'PT';
    src: url('../../fonts/PT Root UI_Regular.otf') format('truetype');
    /*src: url("{% static 'fonts/PT Root UI_Light.otf' %}") format('truetype');*/
    font-weight: normal; /* жирность и другие параметры сами можете выставить */
    font-style: normal;
}



*{
    padding: 0;
    margin: 0;

}
body, html{
    /*!*overflow-x: hidden;*!*/
    margin: 0 auto;

}
.header-root{
    max-width: 1576px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    font-family: "PT";
    font-size: 16px;
}
#checkbox-menu, .toogle{
    display: none;
}
/*____________________________________________header top________________________________*/
.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 30px;
    height: 50px;
    align-items: center;
    white-space: nowrap;


}
.header-top-menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;



}

.menu{

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;
    height: 18px;
    /*overflow: hidden;*/
    list-style-type: none;


}

.menu li a{
    height: 18px;
    color: #333333;
    text-decoration: none;
    padding-left: 8px;
    width: 100%;


}
/*li a:hover {*/
/*    text-shadow: 0 0 .5px #666, 0 0 .5px #666;*/
/*}*/
.header-top-area{
    display: flex;
    justify-content: flex-start;
    height: 18px;
    color: #999999;
    padding-left: 50px;

}

.header-top-phone{
    padding-left: 30px;

}
.header-top-phone-value{
    color: #333333;
    text-decoration: none;
}
.drop-menu {
    display: none;
}

.drop-menu span{
    display: block;
    background: url("../../image/points.svg");
    background-size: cover;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
}
.wrapped{
    visibility: hidden;
}
.drop-menu span:hover >ul{
    visibility: visible;
}
.drop-menu span:hover ul > li{
    visibility: visible;
}

ul.drop-menu-touch{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 16px;
    list-style-type: none;
    background: white;
    border: 1px solid #f7f7f7;
}


.drop-menu-touch li a{
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 5px 0;




}
/*____________________________________________header botton________________________________*/

.header-bottom{
    height: 100px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.header-bottom-logo{
       /*height: 50px;*/
    align-self: center;

}
.header-bottom-logo img{
    height: 70px;

}
.header-bottom-search{
    flex-basis: 850px;
    /*height: 70px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-bottom-search form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 70px;
}
.header-bottom-search input[type="text"]{

    width: 100%;
    font-size: 16px;
    font-family: "PT";
    height: 50px;
    padding-left: 7px;
    margin: 0;
    border: none;
    background: #f7f7f7;

}
.header-bottom-search input[type="text"]:focus {

    background: #f7f7f7;
    outline: none;
}

.header-bottom-search button{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: none;
    background: #f7f7f7;
}
.header-bottom-search button:focus {
    background: #f7f7f7;
    outline: none;
}
.header-bottom-search button span{
    position: absolute;
    background: url("../../image/search.svg");
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    width: 20px;
    height: 20px;
}
.header-bottom-controls{
    display: flex;
    flex-basis: 250px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}
.header-bottom-controls a{
    position: relative;
    margin-left: 25px;
    height: 50px;
    width: 50px;
}
.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    width: 30px;
    height: 30px;

}

.icon-user{
    background: url("../../image/icon-user.svg");

}
.icon-cart{
    background: url("../../image/icon-cart.svg");
}
.icon-compare{
    background: url("../../image/icon-compare.svg");
}


/*____________________________________________header category________________________________*/
.header-category {
    display:block;
    padding: 0px 30px;

    /*position: relative;*/


}
.menu-category{
    display: flex;

    flex-direction: row;
    align-items: stretch;

    list-style-type: none;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.menu-category > li {
    flex: 1 0 140px;
    /*cursor: pointer;*/
    border: 1px solid #f7f7f7;
    margin: 0 3px;
    /*position: inherit;*/
    /*height: 70px;*/

}
.menu-category > li:hover{
    background:  #f7f7f7;

}
.menu-category > li:hover > ul{
    visibility: visible;
    opacity:1;
}


.menu-category > li > a {

    color: #333333;
    text-decoration: none;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: stretch;


}

.menu-category > li > a > img{
    display: block;
    text-decoration: none;
    /*flex: 0 0 25px;*/
    height: 36px;
    margin: 2px auto;
    /*position: inherit;*/
}


.menu-category > li > a > span{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2px auto;

    font-size: 14px;
    flex-grow: 1;

}
/*.main-category-sub{*/
/*    position: absolute;*/
/*    background:  #f7f7f7;*/
/*    margin: 0px auto;*/
/*    width: 100%;*/
/*    left: 30px;*/
/*    max-width: 1576px;*/


/*}*/

.menu-category-sub{
    opacity:0;
    visibility:hidden;
     background:  #f7f7f7;

    transition:visibility 0.5s linear,opacity 0.5s linear;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    /*right: 80px;*/
    /*max-width: 1573px;*/

    /*!*width: 100%;*!*/
    position: absolute;

    justify-content: flex-start;
    /*align-content: space-between;*/
    padding: 0px 20px 10px 40px;
    /*width: 100%;*/
    margin: 0 auto;


}

.menu-category-sub > li {

    flex-shrink: 0;
    flex-grow: 0;
    /*flex-basis: auto;*/


    /*border: 1px solid red;*/
    /*background: green;*/
    height: auto;
    /*margin: 0 3px;*/
    /*position: inherit;*/
    /*padding: 0px 20px;*/
    margin: 30px 0 30px 20px;
    /*margin-left: 40px;*/

}

.hidden{

    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}


.menu-category-sub  li  a{


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
     color: #333333;
    text-decoration: none;




}

.menu-category-sub > li  a  img{
    /*display: block;*/
    text-decoration: none;

    margin: 0 15px 0 0;
    /*flex: 0 0 25px;*/
    height: 30px;


    /*position: inherit;*/
}


.menu-category-sub > li > a > span{

    flex-grow: 0;
    margin: 0;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*/*margin: 2px auto;*/
    white-space: nowrap;

}


.menu-category-sub-sub{
    margin-left: 50px;
    margin-top: 10px;
     list-style-type: none;

}
.menu-category-sub-sub > li{
    margin-top: 10px;


}
/*#checkbox-menu,*/
/*.toogle{*/
/*    display: none;*/
/*}*/
/*.menu{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    height: 18px;*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    padding-inline-start: 31px;*/
/*    padding-inline-end: 40px;*/
/*    align-items: flex-end;*/
/*    list-style-type: none;*/
/*    flex-wrap: wrap;*/
/*    overflow: hidden;*/



/*}*/

/*.menu li a{*/
/*    color: #333333;*/
/*    text-decoration: none;*/
/*    white-space: nowrap;*/
/*    font-size: 16px;*/
/*    font-family: "PT";*/
/*    padding: 0px 9px;*/
/*}*/
/*.menu li a:hover{*/
/*    background: #eff1f2;*/
/*    border-radius: 7px;*/
/*}*/
/*.menu li.text{*/
/*    margin-left: 50px;*/
/*    margin-right: 20px;*/
/*    color: #999999;*/
/*}*/
/*.header__area{*/
/*    font-family: "PT";*/
/*    color: #949495;*/
/*    font-size: 16px;*/
/*    white-space: nowrap;*/
/*    padding: 0px 9px;*/
/*    display: flex;*/
/*    !*height: 18px;*!*/
/*    height: 18px;*/


/*}*/

/*.header__phone-value {*/
/*    text-decoration: none;*/
/*    color: #333333;*/
/*    padding-left: 30px;*/


/*}*/
/*.header__phone-value{*/
/*    font-family: "PT";*/
/*    font-size: 16px;*/


/*}*/

/*@media screen and (max-width: 765px){*/
/*    .header-top{*/
/*        padding: 0px;*/
/*    }*/
/*    .header__area-text{*/
/*        display: none;*/

/*    }*/
/*    .header__area-contacts{*/
/*         display: none;*/

/*    }*/
/*    label{*/
/*    width: 100%;*/
/*}*/


/*    .toogle{*/
/*        clear: both;*/
/*        padding: 0px;*/
/*        display: block;*/
/*        text-align: center;*/
/*        font-size: 20px;*/
/*        line-height: 40px;*/
/*        width: 100%;*/
/*        color: #f5f5f5;*/
/*        background: #1d2839;*/
/*        transition: all .1s linear;*/

/*    }*/
/*    .toogle:hover{*/
/*        background: #1d2839;*/
/*    }*/
/*    #checkbox-menu:checked + label .touch li{*/
/*        opacity: 1;*/
/*        visibility: visible;*/
/*        transition: all .20s linear;*/
/*    !*    poyavlenie punktov menu i cherny cvet*!*/
/*    }*/
/*    #checkbox-menu:checked + label .touch {*/
/*        height: 350px;*/
/*        !*transition: all .20s linear;*!*/
/*    }*/
/*    .menu{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: space-around;*/
/*        align-items: center;*/
/*        height: 0px;*/
/*        transition: height .20s linear;*/

/*    }*/
/*    .menu li{*/
/*        display: flex;*/
/*        align-self: center;*/
/*        width: 95%;*/
/*        opacity: 0;*/
/*        visibility: hidden;*/
/*    }*/
/*    .menu li a{*/
/*        width: 95%;*/
/*        text-align: center;*/
/*        align-self: center;*/
/*        align-content: center;*/
/*    }*/
/*    .menu li.text, li.tel{*/
/*        display: none;*/
/*    }*/