{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/base/base.css' %}">


	<title>Document</title>
</head>
<body>
	<header>
        <div class="header-root">

			<label for="checkbox-menu">
				<input type="checkbox" name="" id="checkbox-menu">
            <div class="header-top">
                <div class="header-top-menu">
                    <nav>
				    <ul class="menu touch">
					    <li class="flex-item"><a href="#">Каталог</a></li>
					    <li class="flex-item"><a href="#">О компании</a></li>
					    <li class="flex-item"><a href="#">Контакты</a></li>
					    <li class="flex-item"><a href="#">Доставка</a></li>
					    <li class="flex-item"><a href="#">Оплата</a></li>
					    <li class="flex-item"><a href="#">Личный кабинет</a></li>
					    <li class="flex-item" ><a href="#">Новости</a></li>
                        <li class="flex-item"><a href="#">Способы оплаты</a></li>

				    </ul>

		            </nav>
	                 <div class="drop-menu">
                        <span class="icon-drop-menu">
                            <ul class="drop-menu-touch">

                            </ul>
                        </span>
                    </div>

                </div>
                <div class="header-top-area">
                    <div class="header-top-time">Доставка с 8:00 до 23:00</div>
                    <div class="header-top-phone">
                        <a class="header-top-phone-value" href="tel:+375293065030">+375293065030</a>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-bottom-logo">
                    <a  href="logo.html"><img src="{% static 'image/logo.png' %}" alt="logo"></a>
                </div>
                <div class="header-bottom-search">
                    <form>
                        <input type="text" id="fname" name="fname" value="" placeholder="Поиск">
                        <button type="submit" value="Submit">
                            <span class="icon-search"></span>
                        </button>
                    </form>
                </div>
                <div class="header-bottom-controls">
                    <a href="#" ><span class="icon icon-user"></span></a>
                    <a href="#" ><span class="icon icon-compare"></span></a>
                    <a href="#" ><span class="icon icon-cart"></span></a>
                </div>

            </div>
			<div class="header-category">
				<ul class="menu-category">

					    <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span>Видеонаблюдение </span></a>

                            <ul class="menu-category-sub">

                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 1Охранная сигнализация </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 1Пожарная сигнализация </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 1Серевое оборудование </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 1Системы связи </span></a>


	                                     <ul class="menu-category-sub-sub">
		                                     <li class=""><a  href="logo.html"><span> 2Шкафы монтажные </span></a></li>
                                             <li class=""><a  href="logo.html"><span> 2Кросовое оборудование </span></a></li>
					                         <li class=""><a  href="logo.html"><span> 2Кросовое оборудование </span></a></li>
					                         <li class=""><a  href="logo.html"><span> 2посмотреть все категории </span></a></li>

	                                     </ul>


                                </li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 1Шкафы монтажные </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 1Кросовое оборудование </span></a></li>
					            <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 1Кросовое оборудование </span></a></li>
					            <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 1посмотреть все категории </span></a></li>
	                            <li class="hidden"><span>  </span></li>
					            <li class="hidden"><span>  </span></li>
					            <li class="hidden"><span>  </span></li>

                            </ul>

                        </li>
                        <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span>Системы контроля и управления доступом </span></a>


                            <ul class="menu-category-sub">

                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Охранная сигнализация </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Пожарная сигнализация </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Серевое оборудование </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Системы связи </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Шкафы монтажные </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Кросовое оборудование </span></a></li>
					            <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Кросовое оборудование </span></a></li>
					            <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2посмотреть все категории </span></a></li>
	                            <li class="hidden"><span>  </span></li>
					            <li class="hidden"><span>  </span></li>
					            <li class="hidden"><span>  </span></li>

                            </ul>



                        </li>
                        <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Охранная сигнализация </span></a>

                            <ul class="menu-category-sub">

                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 1Охранная сигнализация </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Пожарная сигнализация </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Серевое оборудование </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Системы связи </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Шкафы монтажные </span></a></li>
                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Кросовое оборудование </span></a></li>
					            <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Кросовое оборудование </span></a></li>
					            <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> посмотреть все категории </span></a></li>
	                            <li class="hidden"><span>  </span></li>
					            <li class="hidden"><span>  </span></li>
					            <li class="hidden"><span>  </span></li>

                            </ul>

                        </li>
                        <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Пожарная сигнализация </span></a></li>
                        <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Серевое оборудование </span></a></li>
                        <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Системы связи </span></a></li>
                        <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Шкафы монтажные </span></a></li>
                        <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Кросовое оборудование </span></a></li>
					    <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> Кросовое оборудование </span></a>

{#                              <ul class="menu-category-sub">#}
{##}
{#                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Охранная сигнализация </span></a></li>#}
{#                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Пожарная сигнализация </span></a></li>#}
{#                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Серевое оборудование </span></a></li>#}
{#                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Системы связи </span></a></li>#}
{#                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Шкафы монтажные </span></a></li>#}
{#                                <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Кросовое оборудование </span></a></li>#}
{#					            <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2Кросовое оборудование </span></a></li>#}
{#					            <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> 2посмотреть все категории </span></a></li>#}
{##}
{#                            </ul>#}





                        </li>
					    <li class=""><a  href="logo.html"><img src="{% static 'image/cctvcam.svg' %}" alt="logo"><span> посмотреть все категории </span></a></li>


				</ul>

			</div>
            <span class="toogle">☰</span>
            </label>
        </div>
	</header>





<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>