{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base_test.css' %}">

	<title>Document</title>
</head>
<body>
	<header>
        <div class="header-root">
            <input type="checkbox" name="" id="checkbox-menu">
			<label for="checkbox-menu">

            <div class="header-top">
                <div class="header-top-menu">
{#                    <nav>#}
				    <ul class="menu touch">
					    <li class="flex-item"><a href="#">Каталог</a></li>
					    <li class="flex-item"><a href="#">О компании</a></li>
					    <li class="flex-item"><a href="#">Контакты</a></li>
					    <li class="flex-item"><a href="#">Доставка</a></li>
					    <li class="flex-item"><a href="#">Оплата</a></li>
					    <li class="flex-item"><a href="#">Личный кабинет</a></li>
					    <li class="flex-item" ><a href="#">Новости</a></li>

				    </ul>

{#		            </nav>#}
                    <div class="drop-menu">
                        <span class="icon-drop-menu">wdwdwd
                            <ul class="drop-menu-touch">

                            </ul>
                        </span>
                    </div>
                </div>
                <div class="header-top-area">
                    <div class="header-top-time">Доставка с 8:00 до 23:00</div>
                    <div class="header-top-phone">
                        <a class="header-top-phone-value" href="tel:+375293065030">+375293065030</a>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-bottom-logo">
                    <a  href="logo.html"><img src="{% static 'image/logo.png' %}" alt="logo"></a>
                </div>
                <div class="header-bottom-search">
                    <form>
                        <input type="text" id="fname" name="fname" value="" placeholder="Поиск">
                        <button type="submit" value="Submit">
                            <span class="icon-search"></span>
                        </button>
                    </form>
                </div>
                <div class="header-bottom-controls">
                    <a href="#" ><span class="icon icon-user"></span></a>
                    <a href="#" ><span class="icon icon-compare"></span></a>
                    <a href="#" ><span class="icon icon-cart"></span></a>
                </div>

            </div>
            <span class="toogle">☰</span>
            </label>
        </div>
	</header>




    <div class="header-top-menu-test">
{#                    <nav>#}
				    <ul class="menu-test touch">
					    <li class="flex-item"><a href="#">Каталог</a></li>
					    <li class="flex-item"><a href="#">О компании</a></li>
					    <li class="flex-item"><a href="#">Контакты</a></li>
					    <li class="flex-item"><a href="#">Доставка</a></li>
					    <li class="flex-item"><a href="#">Оплата</a></li>
					    <li class="flex-item"><a href="#">Личный кабинет</a></li>
					    <li class="flex-item" ><a href="#">Новости</a></li>

				    </ul>

{#		            </nav>#}
                    <div class="drop-menu-test">
                        <span class="icon-drop-menu">wdwdwdвава
                            <ul class="drop-menu-touch">

                            </ul>
                        </span>
                    </div>
                </div>


<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>